.comment_form {
    margin-top: 40px;
    margin-left: 15px;
    position: relative;
}

.comment_form button {
    right: -5px;
}

.textarea {
    min-height: 50px;
    width: 100%;
    margin-bottom: 50px;
    border-color: rgba(0,123,255,.25)!important;
    letter-spacing: 0;
}

.primary{
    position: absolute;
    bottom: 12px;
    right: 2px;
    /* padding: 3px 8px; */
    font-size: 14px;
    background-color: rgba(51, 190, 255  )!important;
    /* border-color: rgba(25, 181, 254, 1); */
    color: #ffffff;
}

.textarea:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: rgba(0,123,255,.25)!important;
    outline: 0px solid #666;
}
  

